<div class="background-slideshow">
  <div class="slide" style="background-image: url('assets/futuristic-background.jpg');"></div>
  <div class="slide" style="background-image: url('assets/futuristic-background2.jpg');"></div>
  <div class="slide" style="background-image: url('assets/futuristic-background3.jpg');"></div>
</div>

<div class="register-container">
  <div class="register-form">
    <h2>Create Account</h2>
    <form (ngSubmit)="onSubmit()" #regForm="ngForm">
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" id="fullName" name="fullName" [(ngModel)]="user.fullName" required autocomplete="name">
      </div>
      <div class="form-group">
        <label for="username">Nickname</label>
        <input type="text" id="username" name="username" [(ngModel)]="user.username" required autocomplete="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.password" autocomplete="new-password" required>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="user.phoneNumber" autocomplete="tel">
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" id="address" name="address" [(ngModel)]="user.address" autocomplete="street-address">
      </div>
      <div class="form-group">
        <label for="profilePicture">Profile Picture</label>
        <input type="file" id="profilePicture" (change)="onFileSelected($event)" hidden #profilePictureInput>
        <button type="button" class="btn-outline" (click)="profilePictureInput.click()">Choose File</button>
        <div *ngIf="selectedFileName" class="file-info">
          <span>{{ selectedFileName }}</span>
          <img *ngIf="imagePreview" [src]="imagePreview" class="image-preview">
        </div>
      </div>
      <button type="submit" [disabled]="regForm.invalid || isSubmitting">Register</button>
    </form>
    <p class="login-link">Already have an account? <a routerLink="/login">Login here</a></p>
  </div>
</div>