<div class="landing-container">
  <div class="background-slideshow">
    <div class="slide" style="background-image: url('assets/futuristic-background.jpg');"></div>
    <div class="slide" style="background-image: url('assets/futuristic-background2.jpg');"></div>
    <div class="slide" style="background-image: url('assets/futuristic-background3.jpg');"></div>
  </div>
  <div class="overlay-content">
    <h1>Fotoland: Reviva Suas Memórias</h1>
    <p>{{ projectDescription }}</p>
    <div class="actions">
      <a routerLink="/login" class="btn btn-primary">Login</a>
      <a routerLink="/register" class="btn btn-secondary">Register</a>
    </div>
  </div>
</div>
